body {
  background-color: #212529;
  color: white;
  font-family: 'Raleway', sans-serif;
}

header nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1em;
  z-index: 1000;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #ff6347; /* Tomato color on hover */
}

header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6347; /* Tomato color underlines the link */
  transition: width 0.3s ease;
}

header nav ul li a:hover::after {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.img-fluid {
  border-radius: 0.5rem;
}

.album-section {
  position: relative;
  background-image: url('/pics/cloudBackground.jpg'); 
  background-position: center;
  background-size: cover;
  padding: 50px 0; 
  color: white;
  margin: 0 auto;
  text-align: center;
}

.album-section-2 {
  position: relative;
  background-image: url('/pics/rainBackgroundImage.jpg'); 
  background-position: center;
  background-size: cover;
  padding: 50px 0; 
  color: white;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 30px;
  margin: 0 auto;
  width: 80%; 
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

.album-title {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.album-item {
  display: inline-block;
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: transparent; 
  padding: 20px;
  border-radius: 8px;
}

.album-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.album-item p {
  margin-top: 10px;
  font-size: 18px;
}

#introAbout {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2.5rem;
}

#desc {
  font-family: 'Yantramanav', sans-serif;
}

h3 {
  font-family: "Chakra Petch", sans-serif;
}

p {
  font-family: 'Yantramanav', sans-serif;
}

.bg-dark {
  background-color: #333 !important;
}

footer .social-icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .row .col-md-4, .row .col-md-8 {
    text-align: center;
  }
  .order-md-1, .order-md-2 {
    order: 0 !important;
  }
  img {
    margin-bottom: 1rem;
  }
}
