header nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1em;
  z-index: 1000;
}

#email {
  color: white;
}


header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease; 
}

header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease; 
}

header nav ul li a:hover::after {
  width: 100%; 
}

nav ul li a:hover {
  color: white; 
  background-color: transparent; 
}
  body {
    margin: 0;
    font-family: 'Yantramanav', sans-serif;
    overflow-x: hidden;
  }
  .hero {
    background-image: url('./pics/IMG_4764.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    min-height: 70vh;
    padding: 150px 20px;
  }
  
  #tour {
    background-image: url('/pics/Untitled\ design\ \(1\).png');
    background-size: cover;
    background-attachment: scroll;
    padding: 100px 20px;
    min-height: 100vh;
    position: relative;
  }

  h1 {
    margin-top: 100px;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-stretch:narrower;
    color: #ffffff;
  
  }
  
  
body{
  background-color: #1f1f1f;
}

.info{
  color: white;
  font-family: 'Yantramanav';
  font-weight: bolder;
}

.btn:hover{
  color:rgb(17, 5, 5);    
  background-color: #c0c0c0;
  border-color: #333;
  transition-delay:.1s;
}

.btn{
  background-color: #870000;
  border-color: #9e0202;
  border-width: 2px;
  color:antiquewhite;
}

#contactHeader{
  margin-bottom: 70px;
}

footer {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 80px;  
}

#socials {
  display: flex;
  justify-content: flex-start;  
  width: 100%; 
  padding-left: 20px;  
  align-items: center;  
}

#socials h1 {
  margin-right: 20px;
  font-size: 16px;
}

.social-icons {
  display: flex;  
  gap: 15px;  
  align-items: center;  
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

.footer-message {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  margin: 0;
}

.footer-copyright {
  font-family: 'Yantramanav', sans-serif;
  font-size: 12px;
  margin: 0;
}

.footer-container p {
  margin: 0;
  padding: 0;
}

#socials img {
  height: 50px;
  width: 50px;
}



