body {
  background-color: #121212;
  color: #fff;
}

.card {
  background-color: #1e1e1e;
  border: none;
}

.form-control {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
}

.form-control:focus {
  background-color: #333;
  box-shadow: none;
}

* {
  color: #fff;
}

::-webkit-input-placeholder{
  color: grey !important;
}

input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Yantramanav', sans-serif;
  overflow-x: hidden;
}

.mainText {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-stretch:narrower;
  letter-spacing: 1vh;
  font-size: 15vh;
}


.hero {
  position: relative;
  text-align: center;
  padding: 50px;
}

.mainText {
  font-size: 6rem; 
  font-weight: bold;
  position: relative; 
  top: -90px;
}

.slogan {
  font-size: 1.5rem;
  margin: 10px 0;
}

.slogan:first-of-type {
  position: relative;
  left: 30%; 
  text-align: left;
  top: -70px; 
}


.slogan:nth-of-type(2) {
  position: absolute;
  left: 80%;
  top: 65%; 
  transform: translateY(-50%);
}

.slogan {
  font-family: "Rubik Glitch", serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.5vh;
  font-size: 5vh;
  position: absolute;
  left: 25%; 
  transform: translateX(-25%); 
  text-align: center; 
  color: white; 
  font-size: 2rem; 
}


.preorder-btn {
  display: inline-block;
  background-color: black;
  color: #f0f0f0; 
  padding: 12px 30px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  top: 10vh; 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
  transition: all 0.3s ease;
  transform: translateY(0);
}

.preorder-btn:hover {
  transform: translateY(-5px); 
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6); 
}

.preorder-btn:active {
  transform: translateY(2px);
}

  
header nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1em;
  z-index: 1000;
}



header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease; 
}

header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease; 
}

header nav ul li a:hover::after {
  width: 100%; 
}


.hero {
  background-image: url('./pics/IMG_4764.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  min-height: 70vh;
  padding: 150px 20px;
}

#tour {
  background-image: url('/pics/Untitled\ design\ \(1\).png');
  background-size: cover;
  background-attachment: scroll;
  padding: 100px 20px;
  min-height: 100vh;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.tour-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  z-index: 2;
  position: relative;
}



.tour-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  background-color: transparent;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-out;
  height: 120px;
  padding: 10px;
  margin-bottom: 5px;
}

.tour-date {
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 1s ease, transform 1s ease; 
}

.tour-date.visible {
  opacity: 1;
  transform: translateY(0); 
}

.tour-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  z-index: 2;
  position: relative;
}

.tour-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  max-width: 800px;
  margin-right: 20px auto;
  margin-left: 20px auto;
  align-items: center;
  background-color: transparent;
  height: 120px;
  padding: 10px;
  margin-bottom: 5px;
}

.tourTitle {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .tour-date {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .tour-date.visible {
    opacity: 1;
  }
}
.tour-date:nth-child(odd) .date-box {
  order: 1;
  margin-left: 20px;
}

.tour-date:nth-child(even) .date-box {
  order: 0;
}

.tour-date:nth-child(odd) .tour-info {
  align-items: flex-start;
}

.tour-date:nth-child(even) .tour-info {
  align-items: flex-end;
}

.tourTitle {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;

  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}

.date-box {
  background-color: #800000;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.date {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.tour-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 60px;
}

.tour-info.left {
  align-items: flex-start;
}

.tour-info.right {
  align-items: flex-end;
}

.venue {
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

hr {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 10px;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}

.city {
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-right: 20px;
}

.tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.tickets a {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.tickets a:hover {
  background-color: #555;
}

.hero {
  z-index: 2;
  position: relative;
}

@media (max-width: 768px) {
  .hero {
    padding: 50px 10px;
  }

  .tour-date {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .tour-date.visible {
    opacity: 1;
  }

  .tour-dates {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s ease, transform 1s ease; 
  }
  
  .tour-dates.visible {
    opacity: 1;
    transform: translateY(0); 
  }

  .location {
    flex-direction: column;
    align-items: flex-start;
  }

  .tickets {
    align-items: center;
    margin-top: 10px;
  }
}


#cart-button button {
  background: none;  
  border: none;      
  padding: 0;        
  cursor: pointer;
  height: 20px;
  width: 20px;
}

#cart-button button img {
  width: 100%;         
  height: 100%;        
  object-fit: contain;  
}

.cart-sidebar {
  position: fixed;
  top: 0;
  background-color: #333; 
  right: -300px; 
  width: 300px; 
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  transition: right 0.3s ease; 
}

.cart-sidebar.open {
  right: 0; 
}


#close-cart {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}


#cart-items {
  list-style: none;
  padding: 0;
}



.overlay.active {
  display: block;
}

#cart-items li {
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

#checkout-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-size: 1.1em;
}

.album-section {
  position: relative;
  background-image: url('/pics/cloudBackground.jpg'); 
  background-position: center;
  background-size: cover;
  padding: 50px 0; 
  color: white;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 30px;
  margin: 0 auto;
  width: 80%; 
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

.album-title {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.album-item {
  display: inline-block;
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: transparent; 
  padding: 20px;
  border-radius: 8px;
}

.album-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.album-item p {
  margin-top: 10px;
  font-size: 18px;
}

.preorder-btn-album {
  display: inline-block;
  background-color: black;
  color: #f0f0f0; 
  padding: 8px 15px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
  transition: all 0.3s ease;
  transform: translateY(0);
}

.preorder-btn-album:hover {
  background-color: #2e2e2e;
  cursor: grab;
}


.preorder-btn:hover {
  background-color: #2e2e2e;
  cursor: grab;
}

footer {
  background-color: #000000;
  color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 80px;  
}

#socials {
  display: flex;
  justify-content: flex-start;  
  width: 100%; 
  padding-left: 20px;  
  align-items: center;  
}

#socials h1 {
  margin-right: 20px;
  font-size: 16px;
}

.social-icons {
  display: flex;  
  gap: 15px;  
  align-items: center;  
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

.footer-message {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  margin: 0;
}

.footer-copyright {
  font-family: 'Yantramanav', sans-serif;
  font-size: 12px;
  margin: 0;
}

.footer-container p {
  margin: 0;
  padding: 0;
}

#socials img {
  height: 50px;
  width: 50px;
}
